<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{pageTamplate :: layout(~{::#titulo}, ~{::#conteudo})}">
<head>
    <title id="titulo">Cadastro | UpBox</title>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
</head>
<body>
    <div id="conteudo" class="jumbotron bg-light w-75 mx-auto mt-2">
        <h1 class="display-4">Cadastrar novo Upper</h1>
        <hr class="my-4">
        <p class="lead">Insira suas informações para o cadastro. Não são muitas :)</p>
        <form class="form my-2 my-lg-0" action="/envia_usuario" method="POST" th:object="${usuario}">
            <div class="form-group">
                <label for="nome">Nome:</label>
                <input required class="form-control" type="text" name="nome" id="nome"
                       placeholder="João da Silva" th:field="*{nome}">
            </div>
            <div class="form-group">
                <label for="email">E-mail:</label>
                <input required type="email" name="email" id="email" class="form-control"
                       placeholder="exemplo@exemplo.com" th:field="*{email}">
                <small class="form-text text-muted" id="emailHelp">Nunca vamos compartilhar seu email com ninguém, fique
                    tranquilo!
                </small>
            </div>
            <div class="form-group">
                <label for="dataNascimento">Data de Nascimento:</label>
                <div class="form-row" id="dataNascimento">
                    <div class="col-md-1 mb-1">
                        <select required id="dia" name="dia" class="form-control" th:field="*{dia}">
                            <option selected value="0">Dia</option>
                            <option th:each="dia : ${dias}" th:value="${dia}" th:text="${dia}"></option>
                        </select>
                    </div>
                    <div class="col-md-6 mb-6">
                        <select required id="mes" name="mes" class="form-control" th:field="*{mes}">
                            <option selected value="0">Mês</option>
                            <option th:each="mes : ${meses}" th:value="${mes.key}" th:text="${mes.value}"></option>
                        </select>
                    </div>
                    <div class="col-md-2 mb-2">
                        <input required type="number" name="ano" id="ano" min="1930" max="2019" placeholder="2000"
                               class="form-control" th:field="*{ano}">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="username">Username:</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">@</span>
                    </div>
                    <input required type="text" name="username" id="username" placeholder="silvajoao96"
                           class="form-control" th:field="*{username}">
                </div>
                <small class="form-text text-muted" id="usernameHelp">Fica esperto: Só pode ter letras (maiúsculas e
                    minúsculas), números e traços("-")
                </small>
            </div>
            <div class="form-group">
                <label for="senha">Senha:</label>
                <input required type="password" name="senha" id="senha" placeholder="*******"
                       class="form-control" th:field="*{senha}">
                <small class="form-text text-muted" id="senhaHelp">Não pode ser muito fácil... Tem que ter pelo menos: 1
                    letra maiúscula, 1 letra minúscula e 1 número
                </small>
            </div>
            <div class="form-group">
                <label for="confirmacao">Confirme a senha:</label>
                <input required type="password" name="confirmacao" id="confirmacao" placeholder="*******"
                       class="form-control">
                <small class="form-text text-muted" id="confirmacaoHelp">Aqui tem que botar a mesma senha de antes! Não
                    vai errar, ein!
                </small>
            </div>
            <div class="form-group">
                <label for="g-recaptcha">Você é um ser humaninho?</label>
                <small class="form-text text-muted">Só confirma pra gente que você não é um robô e aí terminou!</small>
                <div id="g-recaptcha" class="g-recaptcha" data-sitekey="6LcsQqoUAAAAALAt2gk7TS_zkQwm_i6uUGGG9YbY"></div>
            </div>
            <button class="btn btn-outline-primary" type="submit">Up!</button>
        </form>
    </div>
</body>

</html>

