
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{pageTamplate :: layout(~{::#titulo}, ~{::#conteudo})}">
<head>
    <title id="titulo">Home | UpBox</title>
</head>
<body>
<div id="conteudo" class="jumbotron bg-light w-75 mx-auto mt-2">

    <h1 class="display-4">Bem-Vindo</h1>
    <hr class="my-4">
    <p>Somos uma plataforma de hospedagem de arquivos. Estamos começando, mas já queremos você conosco.</p>
    <p>Ainda não tem uma conta?
        <a href="/cadastro">
            <button class="btn btn-outline-primary">Crie uma conta grátis</button>
        </a></p>
    <p>Já tem?
        <a href="/login">
            <button class="btn btn-outline-primary">Entra aí</button>
        </a></p>
</div>
</body>

</html>

