<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{pageTamplateUsuario :: layout(~{::#titulo}, ~{::#conteudo})}">
<head>
    <title id="titulo">Compartilhei com Outros | UpBox</title>
</head>
<body>
<div id="conteudo" class="col table-responsive bg-dark">
    <table class="table table-sm table-striped table-hover table-dark">
        <thead class="thead-light">
        <th scope="col">#</th>
        <th scope="col">Nome do Arquivo</th>
        <th scope="col">Extensão</th>
        <th scope="col">Dono</th>
        <th scope="col">Baixar</th>
        </thead>
        <tbody>
            <div th:if="${lista.size() > 0}">
                <tr th:each="arquivo, itStat : ${lista}" th:start="1">
                    <td th:text="${itStat.index + 1}">1</td>
                    <td th:text="${arquivo.getNome()}">Arquivo de texto</td>
                    <td th:text="${arquivo.getType()}">txt</td>
                    <td th:text="${arquivo.getDono()}">Dono</td>
                    <td>
                        <form action="/download" target="_blank" method="POST">
                            <input type="hidden" name="nomeArquivo" th:value="${arquivo.getNomeInteiro()}">
                            <input type="hidden" name="username" th:value="${usuario.getUsername()}">
                            <input type="hidden" name="password" th:value="${usuario.getSenha()}">
                            <button type="submit" class="btn btn-sm btn-outline-primary">Baixar</button>
                        </form>
                    </td>
                </tr>
            </div>
        </tbody>
    </table>
</div>
</body>
</html>

