<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{pageTamplate :: layout(~{::#titulo}, ~{::#conteudo})}">
<head>
    <title id="titulo">Usuario | UpBox</title>
</head>
<body>
<div id="conteudo" class="jumbotron bg-light w-75 mx-auto mt-2">
    <div class="card">
        <div class="row no-gutters">
            <div class="col-md-3">
                <h5 class="card-header" th:text="${usuario.nome}">Nome do Usuario</h5>
                <object data="http://stackoverflow.com/does-not-exist.png" type="image/png">
                    <img src="#" alt="Foto do usuario">
                </object>
                <div class="card-body">
                    <p class="card-text" th:text="|@${usuario.username}|">@username</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <button type="button" class="btn btn-primary" data-toggle="modal"
                                data-target="#exampleModalCenter">
                            Fazer um Up!
                        </button>

                        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
                             aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalCenterTitle">Up de arquivo</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <form action="/envia_arquivo" method="POST" enctype="multipart/form-data">
                                        <input th:type="hidden" name="username" th:value="${usuario.username}">
                                        <input th:type="hidden" name="password" th:value="${usuario.senha}">
                                        <div class="modal-body">
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                        <span class="input-group-text"
                                                              id="inputGroupFileAddon01">Up!</span>
                                                </div>
                                                <div class="custom-file">
                                                    <input type="file" class="custom-file-input"
                                                           id="inputGroupFile01"
                                                           aria-describedby="inputGroupFileAddon01" name="arquivo">
                                                    <label class="custom-file-label" for="inputGroupFile01">Escolha
                                                        um Arquivo</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                                Fechar
                                            </button>
                                            <button type="submit" class="btn btn-primary">Salvar</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <form action="/remove" th:object="${usuario}" method="POST">
                            <input type="hidden" th:field="*{username}" th:value="${usuario.username}"/>
                            <button type="submit" class="btn btn-danger">
                                Deletar conta
                            </button>
                        </form>
                    </li>
                    <li class="list-group-item">Seguidores</li>
                </ul>
                <div class="card-body">
                    <ul class="list-group list-unstyled">
                        <li><a href="#" class="card-link">Arquivos Publicos</a></li>
                        <li><a href="#" class="card-link">Arquivos Compartilhados</a></li>
                    </ul>
                </div>
            </div>
            <div class="col table-responsive bg-dark">
                <table class="table table-sm table-striped table-hover table-dark">
                    <thead class="thead-light">
                    <th scope="col">#</th>
                    <th scope="col">Nome do Arquivo</th>
                    <th scope="col">Tamanho</th>
                    <th scope="col">Extensão</th>
                    <th scope="col">Opções</th>
                    </thead>
                    <tbody>
                    <tr th:each="arquivo, itStat : ${lista}" th:start="1">
                        <td th:text="${itStat.index + 1}">1</td>
                        <td th:text="${arquivo.getNome()}">Arquivo de texto</td>
                        <td th:text="${arquivo.getTamanho()}">128kB</td>
                        <td th:text="${arquivo.getType()}">txt</td>
                        <td>
                            <button class="btn btn-outline-secondary dropdown-toggle" type="button"
                                    data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">Opções
                            </button>
                            <div class="dropdown-menu">
                                <form action="/deleta_arquivo" method="POST">
                                    <input type="hidden" name="nomeArquivo" th:value="${arquivo.getNomeInteiro()}">
                                    <input type="hidden" name="username" th:value="${usuario.getUsername()}">
                                    <input type="hidden" name="password" th:value="${usuario.getSenha()}">
                                    <button type="submit" class="btn btn-link dropdown-item">Apagar</button>
                                </form>
                                <a class="dropdown-item" href="#">Compartilhar</a>
                                <form action="/download" method="POST">
                                    <input type="hidden" name="nomeArquivo" th:value="${arquivo.getNomeInteiro()}">
                                    <input type="hidden" name="username" th:value="${usuario.getUsername()}">
                                    <input type="hidden" name="password" th:value="${usuario.getSenha()}">
                                    <button type="submit" class="btn btn-link dropdown-item">Baixar</button>
                                </form>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

</body>
</html>